/*----------------------------
    1. Place holder
-----------*/
/* line 33, scss/helpers/_mixin.scss */
a {
  transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
}

/*----------------------------
    2. Mixins
-----------*/
/* line 1, scss/base/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, scss/base/_reset.scss */
a {
  text-decoration: none;
  color: #E8E759;
}

/* line 10, scss/base/_reset.scss */
a:hover {
  color: rgba(232, 231, 89, 0.7);
}

/* line 15, scss/base/_reset.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-5 {
  margin-top: 5px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-5 {
  padding-top: 5px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-5 {
  margin-bottom: 5px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-5 {
  padding-bottom: 5px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-5 {
  margin-left: 5px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-5 {
  padding-left: 5px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-5 {
  margin-right: 5px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-5 {
  padding-right: 5px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-10 {
  margin-top: 10px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-10 {
  padding-top: 10px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-10 {
  margin-bottom: 10px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-10 {
  padding-bottom: 10px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-10 {
  margin-left: 10px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-10 {
  padding-left: 10px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-10 {
  margin-right: 10px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-10 {
  padding-right: 10px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-15 {
  margin-top: 15px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-15 {
  padding-top: 15px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-15 {
  margin-bottom: 15px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-15 {
  padding-bottom: 15px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-15 {
  margin-left: 15px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-15 {
  padding-left: 15px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-15 {
  margin-right: 15px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-15 {
  padding-right: 15px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-20 {
  margin-top: 20px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-20 {
  padding-top: 20px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-20 {
  margin-bottom: 20px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-20 {
  padding-bottom: 20px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-20 {
  margin-left: 20px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-20 {
  padding-left: 20px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-20 {
  margin-right: 20px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-20 {
  padding-right: 20px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-25 {
  margin-top: 25px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-25 {
  padding-top: 25px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-25 {
  margin-bottom: 25px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-25 {
  padding-bottom: 25px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-25 {
  margin-left: 25px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-25 {
  padding-left: 25px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-25 {
  margin-right: 25px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-25 {
  padding-right: 25px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-30 {
  margin-top: 30px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-30 {
  padding-top: 30px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-30 {
  margin-bottom: 30px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-30 {
  padding-bottom: 30px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-30 {
  margin-left: 30px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-30 {
  padding-left: 30px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-30 {
  margin-right: 30px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-30 {
  padding-right: 30px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-35 {
  margin-top: 35px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-35 {
  padding-top: 35px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-35 {
  margin-bottom: 35px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-35 {
  padding-bottom: 35px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-35 {
  margin-left: 35px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-35 {
  padding-left: 35px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-35 {
  margin-right: 35px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-35 {
  padding-right: 35px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-40 {
  margin-top: 40px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-40 {
  padding-top: 40px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-40 {
  margin-bottom: 40px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-40 {
  padding-bottom: 40px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-40 {
  margin-left: 40px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-40 {
  padding-left: 40px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-40 {
  margin-right: 40px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-40 {
  padding-right: 40px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-45 {
  margin-top: 45px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-45 {
  padding-top: 45px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-45 {
  margin-bottom: 45px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-45 {
  padding-bottom: 45px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-45 {
  margin-left: 45px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-45 {
  padding-left: 45px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-45 {
  margin-right: 45px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-45 {
  padding-right: 45px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-50 {
  margin-top: 50px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-50 {
  padding-top: 50px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-50 {
  margin-bottom: 50px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-50 {
  padding-bottom: 50px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-50 {
  margin-left: 50px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-50 {
  padding-left: 50px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-50 {
  margin-right: 50px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-50 {
  padding-right: 50px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-60 {
  margin-top: 60px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-60 {
  padding-top: 60px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-60 {
  margin-bottom: 60px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-60 {
  padding-bottom: 60px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-60 {
  margin-left: 60px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-60 {
  padding-left: 60px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-60 {
  margin-right: 60px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-60 {
  padding-right: 60px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-top-70 {
  margin-top: 70px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-top-70 {
  padding-top: 70px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-bot-70 {
  margin-bottom: 70px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-bot-70 {
  padding-bottom: 70px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-lef-70 {
  margin-left: 70px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-lef-70 {
  padding-left: 70px !important;
}

/* line 5, scss/base/_spacings.scss */
.mar-rig-70 {
  margin-right: 70px !important;
}

/* line 8, scss/base/_spacings.scss */
.padd-rig-70 {
  padding-right: 70px !important;
}

/* line 8, scss/base/_colors.scss */
.text-grey-base {
  color: #404145;
}

/* line 8, scss/base/_colors.scss */
.text-grey-light {
  color: #c7c7cd;
}

/* line 8, scss/base/_colors.scss */
.text-yellow-base {
  color: #ecaf2d;
}

/* line 8, scss/base/_colors.scss */
.text-green-base {
  color: #5ad864;
}

/* ------------------------------
        BUTTON CSS STARTS
 -------------------------------- */
/* line 4, scss/components/_button.scss */
.btn {
  font-size: 16px;
  color: #E8E759;
  border: 1px solid #E8E759;
  background: #E8E759;
  padding: 15px 0;
}

/* line 12, scss/components/_button.scss */
.btn:hover {
  background: #E8E759;
}

/* line 18, scss/components/_button.scss */
.btn-large {
  font-size: 20px;
}

/* ------------------------------
        MAIN MENU CSS STARTS
 -------------------------------- */
/* line 6, scss/components/_navigation.scss */
.main-menu ul {
  padding: 0;
  margin: 0;
}

/* line 10, scss/components/_navigation.scss */
.main-menu ul li {
  color: #E8E759;
  font-size: 16px;
  display: block;
  padding: 0 15px;
}

/* line 17, scss/components/_navigation.scss */
.main-menu ul li:hover {
  color: #0F0F6c;
}

@media (min-width: 768px) {
  /* line 10, scss/components/_navigation.scss */
  .main-menu ul li {
    display: inline-block;
  }
}

/* ------------------------------
        SUBMENU CSS STARTS
 -------------------------------- */
/* line 7, scss/components/_sub-navigation.scss */
.sub-menu li {
  color: #E8E759;
  font-size: 14px;
}

/* line 10, scss/components/_sub-navigation.scss */
.sub-menu li:hover {
  color: #e2e12c;
}

/* ------------------------------
        BANNER CSS STARTS
 -------------------------------- */
/* line 7, scss/components/_banner.scss */
.banner-sec .banner-caption.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 11, scss/components/_banner.scss */
.banner-sec .banner-caption.vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 15, scss/components/_banner.scss */
.banner-sec .banner-caption.horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
}

/* line 19, scss/components/_banner.scss */
.banner-sec .banner-caption .banner-title {
  font-size: 48px;
  color: #E8E759;
}

/* line 24, scss/components/_banner.scss */
.banner-sec .banner-caption .banner-subtitle {
  font-size: 48px;
  color: #E8E759;
}

/* line 29, scss/components/_banner.scss */
.banner-sec .banner-caption .banner-description {
  font-size: 48px;
  color: #E8E759;
}

/* ------------------------------
 --- TITLE SECTION CSS STARTS ---
 -------------------------------- */
/* line 4, scss/components/_title-sec.scss */
.heading-sec {
  float: left;
  width: 100%;
  padding: 30px 0;
}

/* line 9, scss/components/_title-sec.scss */
.heading-sec .heading-sec-title {
  font-size: 16px;
  color: #E8E759;
}

/* line 14, scss/components/_title-sec.scss */
.heading-sec .heading-sec-subtitle {
  font-size: 16px;
  color: #E8E759;
}

/* line 19, scss/components/_title-sec.scss */
.heading-sec .heading-sec-description {
  font-size: 16px;
  color: #E8E759;
}

/* line 24, scss/components/_title-sec.scss */
.heading-sec .heading-sec-button {
  font-size: 16px;
  color: #E8E759;
}

/* line 28, scss/components/_title-sec.scss */
.heading-sec .heading-sec-button:hover {
  color: #E8E759;
}

/* ------------------------------
        INPUT CSS STARTS
 -------------------------------- */
/* line 4, scss/components/_input.scss */
input[type="email"],
input[type="tel"],
input[type="text"] {
  color: #E8E759;
  font-size: 16px;
  border: 1px solid #E8E759;
  background: #E8E759;
  -webkit-appearance: none;
}

/* ------------------------------
        TEXTAREA CSS STARTS
 -------------------------------- */
/* line 4, scss/components/_textarea.scss */
textarea {
  color: #E8E759;
  font-size: 16px;
  border: 1px solid #E8E759;
  background: #E8E759;
  -webkit-appearance: none;
}

/* ------------------------------
        SUBMIT CSS STARTS
 -------------------------------- */
/* line 5, scss/components/_submit.scss */
input[type="submit"] {
  color: #E8E759;
  font-size: 16px;
  border: 1px solid #E8E759;
  background: #E8E759;
  -webkit-appearance: none;
}

/* line 12, scss/components/_submit.scss */
input[type="submit"]:hover {
  background: #E8E759;
  border: 1px solid #E8E759;
}

/* ------------------------------
        HEADER CSS STARTS
 -------------------------------- */
/* line 5, scss/layout/_header.scss */
.site-header {
  background: #fff;
  width: 100%;
  float: left;
  width: 100%;
  padding: 15px 0;
}

/* line 12, scss/layout/_header.scss */
.site-header.fixed {
  position: relative;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  /* line 12, scss/layout/_header.scss */
  .site-header.fixed {
    position: fixed;
  }
}

/* ------------------------------
        FOOTER CSS STARTS
 -------------------------------- */
/* line 4, scss/layout/_footer.scss */
.site-footer {
  background: #E8E759;
  font-size: 16px;
  padding: 15px 0;
  float: left;
  width: 100%;
}
