/* ------------------------------
        MAIN MENU CSS STARTS
 -------------------------------- */

.main-menu {
  ul {
    padding: 0;
    margin: 0;
    // List Item
    li {
      color: setColor(menu, default);
      font-size: fontSize(menuSize, mainMenu);
      display: block;
      padding: 0 map-get($spacings, sm);

      // Hover 
      &:hover {
        color: setColor(menu, hover);

        .sub-menu {
          background-color: setColor(submenu, bghover);
        }
      }
      // Mobile Layout
      @include breakpoint(medium) {
        display: inline-block;
      }
    }
  }

}
// // Submenu 
// .sub-menu {
//   background-color: setColor(submenu, bgcolor);

//   li {
//     color: setColor(submenu, default);
//     font-size: fontSize(menuSize, subMenu);
//     // Hover
//     &:hover {
//       color: setColor(submenu, hover);
//     }
//   }
// }
