/* ------------------------------
        SUBMENU CSS STARTS
 -------------------------------- */

.sub-menu {
  // List Item
  li {
    color: setColor(submenu, default);
    font-size: fontSize(menuSize, subMenu);
    // Hover
    &:hover {
      color: setColor(submenu, hover);
    }
  }
}
