// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Colors
$color-primary: #E8E759 !default;
$color-secondary: #CCCB1E;
$color-tertiary: #4444E4;
$color-accent: #4444E4;
$color-inactive: #8E8EEC;
$color-link: #1818A5;
$color-hover: #0F0F6c;
$color-active: #080840;
$color-focus: #59E8B3;
$color-white: #fff;
// Menu Colors
$color-menu: $color-primary;
$color-menu-hover: $color-hover;
$color-submenu: $color-primary;
$color-submenu-hover: darken($color-primary, 10%);

// Header Color
$color-header-bg: $color-white;

// Button
$color-button-default: $color-primary;
$color-button-primary: $color-primary;
$color-button-secondary: $color-secondary;

// Typography
$font-size-h1: 48px !default;
$font-size-h2: 48px !default;
$font-size-h3: 48px !default;
$font-size-h4: 48px !default;
$font-size-h5: 48px !default;
$font-size-h6: 48px !default;
$colourscheme: ( menu: ( default: $color-menu, hover: $color-menu-hover ), submenu: ( default: $color-submenu, hover: $color-submenu-hover ), button: ( default: $color-button-default, primary: $color-button-primary, secondary: $color-button-secondary ), primary:$color-primary, secondary: #CCCB1E, tertiary: #4444E4, accent: #4444E4, inactive: #8E8EEC, link: #1818A5, hover: #0F0F6C, active: #080840, focus: #59E8B3 );
// Breakpoints 
$breakpoints:( ‘small’ : 40em, ‘medium’ : 64em, ‘large’ : 90em, ‘xlarge’ : 120em, ‘xxlarge’: 120.063em )